{% extends "base.html" %}
{% block title %}Posts{% endblock title %}

{% block body %}
<div class="container blog-container bg-style">
    
    <!-- Blog Title -->
    <div class="blog-title">
      <h1>{{ posts.title }}</h1>
    </div>
  
    <!-- Blog Image -->
    <div class="blog-image">
      <img src="{{posts.image.url}}"  alt="Blog Image" width="800" height="300">
    </div>
  
    <!-- Blog Description -->
    <div class="blog-description">
      <p>{{ posts.description |safe}}</p>
    </div>
    
  </div>
  
  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock body %}